.completedContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.compltedHeader {
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 6em;
}

.checkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkicon .fas {
  padding-right: 1em;
  font-size: 3em;
}

.completedText {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  flex-direction: column;
}

/* table */
table {
  width: 60%;
  height: 50%;
  border-collapse: collapse;
  border: 0;
}

.completedContainer .order,
.completedContainer .userOrder {
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  height: 68px;
}

.completedContainer .order {
  background-color: #485fc7;
  color: white; /* 폰트 색상을 흰색으로 설정 */
  width: 25%;
}
.completedContainer .userOrder {
  background-color: #ffffff;
  width: 70%;
}

.first > th {
  border-top-left-radius: 10px;
}

.first > td {
  border-top-right-radius: 10px;
}

.last > th {
  border-bottom-left-radius: 10px;
}

.last > td {
  border-bottom-right-radius: 10px;
}

/* Button Container */

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.cartBtn {
  background-color: #5fda90;
  color: black;
  padding: 0;
}

.cart,
.home {
  width: 30%;
  height: 10%;
  margin-top: 4em;
}

.cart {
  margin-right: 5em;
}

.HomeBtn {
  background-color: black;
  color: white;
}

.cartBtn,
.HomeBtn {
  width: 100%;
  height: 50px;
  border-radius: 10px;
}
