/** detail **/
.detail-product {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.leftside-area {
  width: 47%;
  background: rgba(255, 168, 168, 0.13);
  height: fit-content;
}

.rightside-area {
  width: 48%;
}

.rightside-area h4 {
  font-size: 1rem;
}

.detail-txt ul {
  padding: 20px 0 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.detail-txt ul li div p {
  font-weight: bold;
  color: #888;
  margin-bottom: 5px;
  font-size: 0.8rem;
}

.detail-txt ul li div span {
  line-height: 1.75;
}

.detail-txt ul li div span i {
  font-style: normal;
  color: rgb(0, 128, 0);
}

.detail-txt ul li div span i.total-length {
  color: #ff0000;
}

.special-selection {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.special-selection > div > p {
  font-weight: bold;
  color: #888;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.result {
  margin: 20px 0 30px;
  padding: 10px 0;
  border-top: 1px solid #808080;
}

.result ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.result ul li:first-child {
  width: 100%;
  max-width: 200px;
}

.result ul li:first-child div p {
  margin-bottom: 5px;
}

.result ul li:last-child {
  width: 100%;
  max-width: 20px;
}

.result ul li:last-child div {
  display: flex;
  justify-content: center;
}

.result ul li div.result-wrap {
  display: flex;
  gap: 5px;
}

.result ul li div.result-wrap p {
  margin-right: 5px;
}

.result ul li div.result-number {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.total-amount {
  margin-top: 20px;
}

.total-amount ul li {
  padding: 10px 0;
}

.total-amount ul li:first-child {
  border-bottom: 1px solid #808080;
}

.get-product-btn,
.add-product-btn {
  width: 100px;
  padding: 10px 5px;
  margin: 5px 0;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: #fff;
}

.add-product-btn {
  background: none;
  color: #808080;
}

.get-product-btn:hover {
  background: none;
}

.add-product-btn:hover {
  background: #fff;
}

.total-amount ul li:last-child div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.comment-box {
  padding: 40px 20px;
  border: 1px solid #808080;
}

.comment-box ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.comment-box ul li > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment-box ul li > div > p {
  font-weight: bold;
  color: #000;
}

.comment-box ul li > div > div > p {
  line-height: 1.5;
}

.no-cart {
  text-align: center;
}
