<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elice_Infinity</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <script
      src="https://kit.fontawesome.com/a3dff00684.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"
      integrity="sha512-a+SUDuwNzXDvz4XrIcXHuCf089/iJAoN4lmrXJg18XnduKK6YlDHNRalv4yd1N40OKI80tFidF+rqTFKGPoWFQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- <link
      rel="stylesheet"
      href="http://localhost:3000/static/css/category.css"
    />
    <script src="http://localhost:3000/static/pages/CategoryProducts.js"></script> -->
    <link rel="stylesheet" href="/static/css/index.css" />
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="/router/index.js"></script>
  </head>
  <body>
    <div id="wrap">
      <div id="sidebar" class="menu">
        <div class="logo-margin menu-label">
          <a href="/" data-link>
            <img src="/static/images/logo.png" alt="logo" class="logo" />
          </a>
        </div>
        <div id="category" class="category">
          <div class="position">
            <ul class="menu-list"></ul>
          </div>
        </div>

        <div class="category">
          <div class="position">
            <ul class="menu-list">
              <li>
                <a href="/Notice" data-link>Notice</a>
              </li>
              <li>
                <a href="/QnA" data-link>QnA</a>
              </li>
              <li>
                <a href="/Review" data-link>Review</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div id="rightbar"></div>

      <article id="container">
        <main id="contents_main"></main>
      </article>
      <footer>
        <div class="footer_body">
          <ul class="footer_information">
            <li>
              <div class="footer_logo mb-3">
                <img src="/static/images/logo.png" alt="로고이미지" />
              </div>
            </li>
            <li><b>About us</b></li>
            <li><b>Terms and Conditions</b></li>
            <li><b>Privacy policy</b></li>
            <li><b>Guide</b></li>
            <li><b>Copyright ⓒ INFINITY</b></li>
            <li><b>Design By INFINITY</b></li>
          </ul>
          <ul class="footer_company">
            <li><b>Company : INFINITY</b></li>
            <li><b>Owner : INFINITY</b></li>
            <li><b>Business License : 111-22-333333</b></li>
            <li><b>Tel : 070.111.2222</b></li>
            <li>
              <b>Address : 서울특별시 성수동 엘리스</b>
            </li>
            <li><b>Contact : INFINITY8@test.com</b></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
