<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elice_Infinity</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <script
      src="https://kit.fontawesome.com/a3dff00684.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="./static/css/index.css" />
    <link rel="stylesheet" id="mycss" href="index.css" />
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="../router/index.js"></script>
    <script type="module" id="myjs"></script>
  </head>
  <body>
    <div id="wrap">
      <div id="sidebar" class="menu">
        <div class="logo-margin menu-label">
          <a href="/" data-link>
            <img src="/static/images/logo.png" alt="logo" />
          </a>
        </div>
        <div id="category" class="category">
          <div class="position">
            <ul class="menu-list">
              <li><a href="#" data-link>Only infinity</a></li>
              <li><a href="#" data-link>New -7%</a></li>
              <li><a href="#" data-link>Best</a></li>
              <li><a href="#" data-link>1+1</a></li>
              <li><a href="#" data-link>All</a></li>
              <li>
                <a href="#" class="is-active">Outer</a>
                <ul class="sub-category">
                  <li><a href="#" data-link>추가상품1</a></li>
                  <li><a href="#" data-link>추가상품2</a></li>
                  <li><a href="#" data-link>추가상품3</a></li>
                </ul>
              </li>
              <li><a href="#" data-link>Top</a></li>
              <li><a href="#" data-link>Bottom</a></li>
              <li><a href="#" data-link>Shoes</a></li>
              <li><a href="#" data-link>Acc</a></li>
            </ul>
          </div>
        </div>

        <div class="category">
          <div class="position">
            <ul class="menu-list">
              <li>
                <a href="#" data-link>Notice</a>
              </li>
              <li>
                <a href="#" data-link>Q &amp; A</a>
              </li>
              <li>
                <a href="#" data-link>Review</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div id="rightbar">
        <div class="cart-txt">
          <a href="#" data-link>Cart ― 0</a>
        </div>

        <div class="right-element">
          <a href="/login" class="log" data-link>Log in</a>
          <a href="/signup" data-link>Register</a>
          <a href="#" data-link>Order</a>
          <a href="#" data-link>My Page</a>
        </div>
      </div>

      <article id="container">
        <main id="contents_main"></main>
      </article>
      <footer>
        <div class="footer_body">
          <ul class="footer_information">
            <li>
              <div class="footer_logo mb-3">
                <img src="../static/images/logo.png" alt="로고이미지" />
              </div>
            </li>
            <li><b>About us</b></li>
            <li><b>Terms and Conditions</b></li>
            <li><b>Privacy policy</b></li>
            <li><b>Guide</b></li>
            <li><b>Copyright ⓒ INFINITY</b></li>
            <li><b>Design By INFINITY</b></li>
          </ul>
          <ul class="footer_company">
            <li><b>Company : INFINITY</b></li>
            <li><b>Owner : INFINITY</b></li>
            <li><b>Business License : 111-22-333333</b></li>
            <li><b>Tel : 070.111.2222</b></li>
            <li>
              <b>Address : 서울특별시 성수동 엘리스</b>
            </li>
            <li><b>Contact : INFINITY8@test.com</b></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
