<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elice_Infinity</title>
     
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">

    <script src="https://kit.fontawesome.com/a3dff00684.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>
<body>
    <div id="wrap">
        <div id="sidebar" class="menu">
            <div class="logo-margin menu-label">
                <a href="index2.html">
                    <img src="./logo.png" alt="logo">
                </a>
            </div>
            <div id="category" class="category">
                <div class="position">
                    <ul class="menu-list">
                        <li><a href="#">Only a're</a></li>
                        <li><a href="#">New -7%</a></li>
                        <li><a href="#">Best</a></li>
                        <li><a href="#">1+1</a></li>
                        <li><a href="#">All</a></li>
                        <li>
                            <a href="#" class="is-active">Outer</a>
                            <ul class="sub-category">
                                <li><a href="#">추가상품1</a></li>
                                <li><a href="#">추가상품2</a></li>
                                <li><a href="#">추가상품3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Top</a></li>
                        <li><a href="#">Bottom</a></li>
                        <li><a href="#">Shoes</a></li>
                        <li><a href="#">Acc</a></li>
                    </ul>
                </div>
            </div>

            <div class="category">
                <div class="position">
                    <ul class="menu-list">
                        <li>
                            <a href="#">Notice</a>
                        </li>
                        <li>
                            <a href="#">Q &amp; A</a>
                        </li>
                        <li>
                            <a href="#">Review</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="rightbar">

            <div class="cart-txt">
                <a href="#">Cart ― 0</a>
            </div>


            <div class="right-element">
                <a href="#" class="log">Log in</a>
                <a href="#">Register</a>
                <a href="#">Order</a>
                <a href="#">My Page</a>
            </div>
        </div>

        <div id="container">
            <div id="contents_main">
                <!--여기에 작성-->
                <div class="detail-product">
                    <div class="leftside-area">
                        <div class="swiper mySwiper2 detail1">
                            <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                <img src="./img/testimage.jpeg" />
                              </div>
                              <div class="swiper-slide">
                                <img src="./img/testimage.jpeg" />
                              </div>
                              <div class="swiper-slide">
                                <img src="./img/testimage2.jpeg" />
                              </div>
                              <div class="swiper-slide">
                                <img src="./img/testimage2.jpeg" />
                              </div>
                            </div>
                          </div>
                          <div thumbsSlider="" class="swiper mySwiper detail2">
                            <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                <img src="./img/testimage.jpeg" />
                              </div>
                              <div class="swiper-slide">
                                <img src="./img/testimage.jpeg" />
                              </div>
                              <div class="swiper-slide">
                                <img src="./img/testimage2.jpeg" />
                              </div>
                              <div class="swiper-slide">
                                <img src="./img/testimage2.jpeg" />
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="rightside-area">
                        <div class="title-product">
                            <h4><b>[자체 제작] 인피니티 에센셜 스웻 팬츠</b></h4>
                        </div>
                        <div class="detail-txt">
                            <ul>
                                <li>
                                    <div>
                                        <p>Price</p>
                                        <span>₩36,000</span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <p>Comment</p>
                                        <span>
                                            <i>only infinity</i>
                                            <br/>
                                            두 가지 기장감으로 출시<br/>
                                            딥하게 잡힌 원 핀턱 디테일<br/>
                                            데일리한 6가지 컬러 구성<br/>
                                            체형에 큰 구애 없이 편하게 착용 가능<br/>
                                            여러번의 핏 수정을 통한 최적의 일자 와이드핏
                                            <br/><br/>
                                            <i>
                                                오직 infinity에서만 만나보실 수 있습니다.<br/>
                                                출시 기념 무료배송 이벤트 진행합니다.♡
                                            </i>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <p>6color</p>
                                        <span>gray / deep green / cocoa / black / white / indi pink</span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <p>fabric</p>
                                        <span>cotton 100</span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <p>size (cm)</p>
                                        <span>
                                            롱 기장 : 허리 밴딩34 / 밑위33 / 허벅지36 / 밑단26 / <i class="total-length">총길이106</i><br/>
                                            기본 기장 : 허리 밴딩34 / 밑위33 / 허벅지36 / 밑단26 / <i class="total-length">총길이98</i> 
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="special-selection">
                            <div>
                                <p>color</p>
                                <div class="select">
                                    <select>
                                        <option selected>color</option>
                                        <option>그레이</option>
                                        <option>딥그린</option>
                                        <option>코코아</option>
                                        <option>블랙</option>
                                        <option>화이트</option>
                                        <option>인디핑크</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <p>size</p>
                                <div class="select">
                                    <select>
                                        <option selected>size</option>
                                        <option>롱기장</option>
                                        <option>기본기장</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="result" style="display: none;">
                            <ul>
                                <li>
                                    <div>
                                        <p>[자체 제작]인피니티 에센셜 스웻 팬츠</p>
                                        <span>- 딥그린 / 롱기장</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="result-wrap">
                                        <p>1</p><a>+</a><a>-</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="result-number">
                                        ₩36,000
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a>X</a>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="total-amount">
                            <ul>
                                <li>
                                    <div>
                                        <p><b>Total</b>(Qty) : <b>0</b> (0개)</p>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a class="get-product-btn">Buy Now</a>
                                        <a class="add-product-btn">Add to Cart</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="img-section">
                    <div>
                        <img src="./img/포스터.png">
                        <img src="./img/test2.png">
                    </div>
                </div>

                <div class="comment-box">
                    <ul>
                        <li>
                            <div>
                                <p>payment Info</p>
                                <div>
                                    <p>
                                        - 결제 가능 수단 -
                                        <br/><br/>
                                        무통장입금<br/>
                                        실시간계좌이체<br/>
                                        신용카드<br/>
                                        휴대폰결제<br/>
                                        네이버페이<br/>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p>Delivery Info</p>
                                <div>
                                    <p>
                                        밤 9시 이전 주문건들에 한하여 그 다음날 배송이 출고됩니다. (주말, 공휴일 제외)<br/>
                                        주문량이 많거나 리오더 중인 제품은 배송 출고까지 기간이 조금 더 걸릴 수 있습니다.<br/>
                                        배송 지연이 길어질 경우 따로 안내해 드립니다.^^
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p>Return & Exchange Info</p>
                                <div>
                                    <p>
                                        교환 및 반품안내는 Notice 게시판을 참고해주세요 :&#41;
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./detail.js"></script>
</html>