<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elice_Infinity</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrap">
        <div id="sidebar" class="menu">
            <div class="logo-margin menu-label">
                <a href="index2.html">
                    <img src="./logo.png" alt="logo">
                </a>
            </div>
            <div id="category" class="category">
                <div class="position">
                    <ul class="menu-list">
                        <li><a href="#">Only a're</a></li>
                        <li><a href="#">New -7%</a></li>
                        <li><a href="#">Best</a></li>
                        <li><a href="#">1+1</a></li>
                        <li><a href="#">All</a></li>
                        <li>
                            <a href="#" class="is-active">Outer</a>
                            <ul class="sub-category">
                                <li><a href="#">추가상품1</a></li>
                                <li><a href="#">추가상품2</a></li>
                                <li><a href="#">추가상품3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Top</a></li>
                        <li><a href="#">Bottom</a></li>
                        <li><a href="#">Shoes</a></li>
                        <li><a href="#">Acc</a></li>
                    </ul>
                </div>
            </div>

            <div class="category">
                <div class="position">
                    <ul class="menu-list">
                        <li>
                            <a href="#">Notice</a>
                        </li>
                        <li>
                            <a href="#">Q &amp; A</a>
                        </li>
                        <li>
                            <a href="#">Review</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="rightbar">

            <div class="cart-txt">
                <a href="#">Cart ― 0</a>
            </div>


            <div class="right-element">
                <a href="#" class="log">Log in</a>
                <a href="#">Register</a>
                <a href="#">Order</a>
                <a href="#">My Page</a>
            </div>
        </div>

        <div id="container">
            <div id="contents_main">
                <!--여기에 작성-->
                <div class="titleArea">
                    <h2>Login</h2>
                </div>
                <form>
                    <div>
                        <div class="login">
                            <fieldset>
                                <legend>회원로그인</legend>
                                <label class="id" title="ID">
                                    <input type="text" placeholder="ID" class="inputId">
                                </label>
                                <label class="password" title="Password">
                                    <input type="password" placeholder="Password" class="inputPassword">
                                </label>
                                <a href="#" class="btnLogin">Login</a>
                                <ul class="forgot">
                                    <li><a>Forgot ID</a></li>
                                    <li><a>Fogot Password</a></li>
                                </ul>
                                <a href="#" class="btnJoin">Register</a>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="login.js"></script>
</body>
</html>