<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elice_Infinity</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script src="https://kit.fontawesome.com/a3dff00684.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
</head>
<body>
    <div id="wrap">
        <div id="sidebar" class="menu">
            <div class="logo-margin menu-label">
                <a href="index2.html">
                    <img src="./logo.png" alt="logo">
                </a>
            </div>
            <div id="category" class="category">
                <div class="position">
                    <ul class="menu-list">
                        <li><a href="#">Only a're</a></li>
                        <li><a href="#">New -7%</a></li>
                        <li><a href="#">Best</a></li>
                        <li><a href="#">1+1</a></li>
                        <li><a href="#">All</a></li>
                        <li>
                            <a href="#" class="is-active">Outer</a>
                            <ul class="sub-category">
                                <li><a href="#">추가상품1</a></li>
                                <li><a href="#">추가상품2</a></li>
                                <li><a href="#">추가상품3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Top</a></li>
                        <li><a href="#">Bottom</a></li>
                        <li><a href="#">Shoes</a></li>
                        <li><a href="#">Acc</a></li>
                    </ul>
                </div>
            </div>

            <div class="category">
                <div class="position">
                    <ul class="menu-list">
                        <li>
                            <a href="#">Notice</a>
                        </li>
                        <li>
                            <a href="#">Q &amp; A</a>
                        </li>
                        <li>
                            <a href="#">Review</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="rightbar">

            <div class="cart-txt">
                <a href="#">Cart ― 0</a>
            </div>


            <div class="right-element">
                <a href="#" class="log">Log in</a>
                <a href="#">Register</a>
                <a href="#">Order</a>
                <a href="#">My Page</a>
            </div>
        </div>

        <div id="container">
            <div id="contents_main">
                <!--여기에 작성-->
                <div class="main-img">
                    <div>
                        <a>
                            <img src="./main-img3.png">
                        </a>
                    </div>
                </div>
                <div class="title">
                    <div class="main_line"></div>
                    <h2>Weekly Best</h2>
                </div>
                <div class="weekly-best">
                    <div class="main swiper">
                        <div class="swiper-wrapper">
                        <!-- Slides -->
                            <div class="swiper-slide">
                                <img src="./Mask group.png">
                            </div>
                            <div class="swiper-slide">
                                <img src="./Mask group-1.png">
                            </div>
                            <div class="swiper-slide">
                                <img src="./Mask group-2.png">
                            </div>
                            <div class="swiper-slide">
                                <img src="./Mask group.png">
                            </div>
                            <div class="swiper-slide">
                                <img src="./Mask group-1.png">
                            </div>
                            <div class="swiper-slide">
                                <img src="./Mask group-2.png">
                            </div>
    
                        </div>
                        
                    </div>
                    <div class="swiper-button-prev">
                        <img src="./arrow.png">
                    </div>
                    <div class="swiper-button-next">
                        <img class="rotate" src="./arrow.png">
                    </div>
                </div>

                <div class="title">
                    <div class="main_line"></div>
                    <h2>New Arrival</h2>
                </div>
                <div class="New-arrival">
                    <ul>
                        <li>
                            <a><img src="./test1.webp">
                            <div>
                                <p>스카이 퍼 더블니 데님</p>
                                <span class="sale-before">₩59,000</span><br/>
                                <span>54,900 (7%)</span>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a><img src="./test1.webp">
                            <div>
                                <p>스카이 퍼 더블니 데님</p>
                                <span class="sale-before">₩59,000</span><br/>
                                <span>54,900 (7%)</span>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a><img src="./test1.webp">
                            <div>
                                <p>스카이 퍼 더블니 데님</p>
                                <span class="sale-before">₩59,000</span><br/>
                                <span>54,900 (7%)</span>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a><img src="./test1.webp">
                            <div>
                                <p>스카이 퍼 더블니 데님</p>
                                <span class="sale-before">₩59,000</span><br/>
                                <span>54,900 (7%)</span>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a><img src="./test1.webp">
                            <div>
                                <p>스카이 퍼 더블니 데님</p>
                                <span class="sale-before">₩59,000</span><br/>
                                <span>54,900 (7%)</span>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a><img src="./test1.webp">
                            <div>
                                <p>스카이 퍼 더블니 데님</p>
                                <span class="sale-before">₩59,000</span><br/>
                                <span>54,900 (7%)</span>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a><img src="./test1.webp">
                            <div>
                                <p>스카이 퍼 더블니 데님</p>
                                <span class="sale-before">₩59,000</span><br/>
                                <span>54,900 (7%)</span>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a><img src="./test1.webp">
                            <div>
                                <p>스카이 퍼 더블니 데님</p>
                                <span class="sale-before">₩59,000</span><br/>
                                <span>54,900 (7%)</span>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a><img src="./test1.webp">
                            <div>
                                <p>스카이 퍼 더블니 데님</p>
                                <span class="sale-before">₩59,000</span><br/>
                                <span>54,900 (7%)</span>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a><img src="./test1.webp">
                            <div>
                                <p>스카이 퍼 더블니 데님</p>
                                <span class="sale-before">₩59,000</span><br/>
                                <span>54,900 (7%)</span>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a><img src="./test1.webp">
                            <div>
                                <p>스카이 퍼 더블니 데님</p>
                                <span class="sale-before">₩59,000</span><br/>
                                <span>54,900 (7%)</span>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a><img src="./test1.webp">
                            <div>
                                <p>스카이 퍼 더블니 데님</p>
                                <span class="sale-before">₩59,000</span><br/>
                                <span>54,900 (7%)</span>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a><img src="./test1.webp">
                            <div>
                                <p>스카이 퍼 더블니 데님</p>
                                <span class="sale-before">₩59,000</span><br/>
                                <span>54,900 (7%)</span>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a><img src="./test1.webp">
                            <div>
                                <p>스카이 퍼 더블니 데님</p>
                                <span class="sale-before">₩59,000</span><br/>
                                <span>54,900 (7%)</span>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a><img src="./test1.webp">
                            <div>
                                <p>스카이 퍼 더블니 데님</p>
                                <span class="sale-before">₩59,000</span><br/>
                                <span>54,900 (7%)</span>
                            </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="./main.js"></script>
</body>
</html>