
.titleArea {
  margin: 0 0 30px;
  text-align: center;
}

.titleArea h2 {
  color: #000;
  font-weight: normal;
  font-size: 1.2em;
}

.contents_main {
  margin: 0 auto;
  padding: 85px 0;
  text-align: center;
}

.titleArea {
  margin: 30px 0 80px 0;
}

.titleArea > h2 {
  font-size: 30px;
  margin: auto;
  color: #808080;
}

.cart_table {
  width: 100%;
  height: 300px;
  border: 1px solid #000;
  text-align: center;
}

.caption {
  text-align: left;
  height: 40px;
}

.cart_table th,
.cart_table td {
  border: 1px solid #000;
  vertical-align: middle;
}

.tr1 {
  height: 40px;
}

.tr1 .th1 {
  width: 70px;
}

.tr1 .th2 {
  width: 150px;
}

.tr1 .th3 {
  width: 337px;
}

.tr1 .th4 {
  width: 90px;
}

.tr1 .th5 {
  width: 90px;
}

.tr1 .th6 {
  width: 90px;
}

.tr1 .th7 {
  width: 90px;
}

.tr1 .th8 {
  width: 121px;
}

.tr2 {
  height: 170px;
}

.tr2_td1 {
  width: 457px;
}

.tr3 {
  height: 50px;
}

.tr3_td1 {
  padding-left: 20px;
}

.tr3_td2 {
  padding-right: 20px;
}

.product_infor {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 60px;
  margin-left: 28px;
}

.img {
  width: 150px;
  height: 170px;
}

.plus {
  width: 30px;
  height: 25px;
}

.minus {
  width: 30px;
  height: 25px;
}

#id {
  margin-top: 30px;
}

.cart_table .tr3_td1 {
  border-right: none;
  text-align: left;
  margin-left: 20px;
}

.cart_table .tr3_td2 {
  border-left: none;
  text-align: right;
}

.all_product {
  display: inline-block;
  box-sizing: border-box;
  width: 130px;
  height: 42px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  margin-right: 7px;
}

.select_product {
  display: inline-block;
  box-sizing: border-box;
  width: 130px;
  height: 42px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #888;
  border: 1px solid #888;
}
