.titleArea {
  margin: 0 0 30px;
  text-align: center;
}

.titleArea h2 {
  color: #000;
  font-weight: normal;
  font-size: 1.2em;
}

.contents_main {
  margin: 0 auto;
  padding: 85px 0;
  text-align: center;
}

.titleArea {
  margin: 30px 0 80px 0;
}

.titleArea > h2 {
  font-size: 30px;
  margin: auto;
  color: #808080;
}

.shoppingcart {
  text-align: center;
  margin-top: 250px;
}

.shoppingcart > img {
  width: 250px;
  height: 200px;
}

.shoppingcart > p {
  margin-bottom: 120px;
}

.all_product {
  display: inline-block;
  box-sizing: border-box;
  width: 130px;
  height: 42px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  margin-right: 7px;
}

.select_product {
  display: inline-block;
  box-sizing: border-box;
  width: 130px;
  height: 42px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #888;
  border: 1px solid #888;
}
